<html>
<head></head>
<body>
<pre>
Project : {{ project_name                     }}
Date    : {{ expense.transaction_date         }}
Amount  : {{ "${:.2f}".format(expense.amount) }}
Details : {{ expense.details                  }}
Paid By : {{ payer                            }}
Split with :
{%- for split in splits %}
    {{ split.name }} : {{ "${:.2f}".format(split.amount) }}
{%- endfor %}
</pre>

<p>
To unsubsribe please click <a href="https://expense--tracker.appspot.com/settings">here</a>.
</p>
</body>
</html>