{% extends "templates/base.html" %}
{% block container %}
<h3>Settings</h3>
<p>How often do you want to get notified when a new transaction is added to
   one of your projects?</p>
<div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>    
      <th>Project</th>
      <th></th>
      <th>Receive Emails</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    {% set frequency = settings[loop.index0].receive_email %}
    <td>{{loop.index}}</td>
    <td>{{project.name}}</td>
    <td><label class="checkbox-inline"><input type="radio" name="{{project.key.urlsafe()}}" value="all"      {% if frequency == "all" %}checked{% endif %}> All transactions</label></td>
    <td><label class="checkbox-inline"><input type="radio" name="{{project.key.urlsafe()}}" value="relevant" {% if frequency == "relevant" %}checked{% endif %}> Only transactions that involve me</label></td>
    <td><label class="checkbox-inline"><input type="radio" name="{{project.key.urlsafe()}}" value="none"     {% if frequency == "none" %}checked{% endif %}> Never</label></td>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
{% block javascript %}
<script>
</script>
{% endblock %}
{# vim:set tabstop=2 shiftwidth=2 softtabstop=2 expandtab: #}
