{% extends "templates/base.html" %}
{% block navbar %}
<li class="active"><a href="/summary?id={{project_key}}">Summary</a></li>
<li><a href="/admin?id={{project_key}}">Admin</a></li>
{% endblock %}
{% block container %}
  <div class="alert {{ alert_type }} text-center h3" role="alert" >{{ message }}</div>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>    
          <th>Date</th>
          <th>Details</th>
          <th>Paid By</th>
          <th>Paid</th>
          <th>Spent</th>
        </tr>
      </thead>
      <tbody>
        {% for expense in expenses %}
        {% set amount = expense.individual_amount[index].amount %}
          {% if expense.paid_by == user_key or amount > 0 %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ expense.transaction_date.strftime('%Y-%m-%d') }}</td>
          <td>{{ expense.details }}</td>
          <td>{{ id_resolver[expense.paid_by].name }}</td>
          <td>{% if expense.paid_by == user_key %}{{ "${:.2f}".format(expense.amount) }}{% endif %}</td>
          <td>{% if amount > 0 %}{{ "${:.2f}".format(amount) }}{% endif %}</td>
        </tr>
          {% endif %}
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>Total</th>
          <th>{{ "${:.2f}".format(total_paid)  }}</th>
          <th>{{ "${:.2f}".format(total_spent) }}</th>
        </tr>
      </tfoot>
    </table>
  </div>
{% endblock %}
{% block javascript %}
<script>
</script>
{% endblock %}
{# vim:set tabstop=2 shiftwidth=2 softtabstop=2 expandtab: #}
